@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

body {
  color: white;
  background-image: url(https://www.holidayhypermarket.co.uk/hype/wp-content/uploads/2019/02/PAYDAY_blog_header_noText.jpg);
  font-family: 'Rubik', sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
}

#main {
  margin: auto;
  min-width: 600px;
}

#searchForm {
  margin: 15px auto;
  min-width: 400px;
  border: solid 1px grey;
  box-shadow: 1px 1px 10px grey;
  background-color: rgb(66, 65, 52);
  border-radius: 10px;
  width: 40%;
  padding: 10px;
}

#locName {
  font-size: 4vw;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  font-weight: 700;
}
img {
  max-width: 400px;
  height: 100%;
  width: 100%;
  object-fit: contain;
}
h2 {
  text-align: center;
}

#window > a {
  text-align: center;
}
input {
  border-radius: 5px;
  background-color: rgb(66, 65, 52);
  border: none;
  color: white;
  font-size: 20px;
  padding: 5px;
}
input:focus {
  outline: none !important;
}
#favorites {
  margin: 15px auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cityCard:hover {
  background: gray;
}
.welcoming {
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  margin: 15px;
  border: solid 1px grey;
  box-shadow: 1px 1px 10px grey;
  background-color: rgb(66, 65, 52);
  border-radius: 10px;
  padding: 10px;
}
.cityCard {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
  text-align: center;
  margin: 10px;
  border: solid 1px grey;
  border-radius: 10px;
  width: 100%;
  min-width: 250px;
  max-width: 400px;
  background-color: rgb(66, 65, 52);
}
.cityCard:hover {
  cursor: pointer;
}

#weather {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  margin: 15px auto;
  border: solid 1px grey;
  box-shadow: 1px 1px 10px grey;
  height: 100px;
  width: 75%;
  padding: 10px;
}
#switchContainer {
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin: 15px auto;
  width: 90%;
  min-height: 500px;
  border: solid 1px grey;
  border-radius: 10px;
  box-shadow: 1px 1px 10px grey;
  background-color: rgb(66, 65, 52);
  width: 60%;
}
#navBox {
  color: black;
  display: flex;
  padding: 5%;
  min-width: 100px;
  border-right: black 1px solid;
  flex-direction: column;
}
#navBox > li {
  list-style: none;
  line-height: 2rem;
}

#contentBox {
  display: flex;
  flex: 1;
  flex-shrink: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-left: 20px;
}

.weather-text {
  color: white;
  font-size: 2vw;
  font-family: 'Rubik', sans-serif;
}
#weather-texts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.black {
  color: black;
}
#spotify {
  border-radius: 10px;
  width: 100%;
}

#spotifyLogin {
  margin-top: 20%;
}

#favIcon {
  display: absolute;
  align-self: flex-start;
  justify-self: flex-end;
  top: 0;
  right: 0;
}

.song {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 50px;
  border: solid 1px grey;
  border-radius: 2px;
  box-shadow: 1px 1px 10px white;
  padding: 3px;
  margin: 10px;
  color: white;
  background-color: black;
}
#searchBar {
  width: 100%;
  min-width: 600px;
}
form {
  display: flex;
  flex-direction: column;
}

@media (max-width: 900px) {
  .welcoming {
    position: relative;
    max-width: 300px;
    margin: auto;
    background: none;
    border: none;
    color: rgb(92, 8, 8);
    box-shadow: none;
  }
  #switchContainer {
    flex-direction: column;
  }
  #navBox {
    flex-direction: row;
    justify-content: space-around;
    padding: 0px;
    border-right: none;
    border-bottom: black 1px solid;
  }
  #contentBox {
    padding: 0;
  }
  .weather-text {
    font-size: 18px;
  }
  #locName {
    font-size: 24px;
  }
}
